* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 24pt;
  font-weight: lighter;
  color: #fff;
}

:focus {
  outline: none;
}

html, body, #root, .app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}


.cp-calculator {
  position: relative;

  width: 400px;
  height: 600px;

  background-color: #000;

  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0 0 8px #207;

  transition: all .2s;
}

.cp-calculator-calcule-container {
  width: 100%;
  height: 25%;
  padding: 16px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end;
  overflow-y: auto;
}
.cp-calculator-calcule-number {
  word-break: break-all;
  text-align: right;
}
.cp-calculator-calcule-result {
  font-size: 16pt;
  color: #555;
}

.cp-calculator-actions-container {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 75%;
}


.cp-calculator-btn-clear {
  height: 20%;
  width: 75%;
  background-color: #450099;
  border: none;
  color: #000;
  cursor: pointer;
}
.cp-calculator-btn-clear:active {
  color: #fff;
  background-color: #f00;
}


.cp-calculator-numbers-container {
  position: absolute;
  bottom: 0;

  width: 75%;
  height: 80%;
  background-color: #00f;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cp-calculator-numbers-row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.cp-calculator-numbers-row button {
  width: 100%;
  border: none;
  background-color: #000;
  color: #450099;
  cursor: pointer;
}
.cp-calculator-numbers-row button:active {
  background-color: #102;
  color: #306;
}


.cp-calculator-operations-container {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 25%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cp-calculator-operations-container button {
  height: 100%;
  background-color: #f07;
  color: #70f;
  border: none;
  cursor: pointer;
}
.cp-calculator-operations-container button:active {
  background-color: #70f;
  color: #f07;
}

@media only screen and (max-width: 500px), (max-height: 600px) {
  .cp-calculator {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}